body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #6fe7cb;
    color: #333;
}

header {
    background: #88beaf;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 2rem;
}

.container {
    background: #fff;
    padding: 1.5rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:500px;
    height: 200px;
    p{
        color:rgb(43, 216, 187)
    }
}

.container2{
    background: #fff;
    padding: 1.5rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:500px;
    height: 200px;
    margin-left: 50%;
    p{
        color:rgb(57, 145, 130)
    }
}

.container3{
    background: #fff;
    padding: 1.5rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:500px;
    height: 200px;
    margin-right: 50%;
    p{
        color:rgb(110, 232, 211)
    }
}

article h2 {
    color: #086154;
    margin-top: 0;
}

article p {
    margin: 1rem 0;
}



